/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
*= require_self
*/

$darkgrey: #181818;
$stars: #f1c40f;
$red: #e21221;

/* *********** Main *********** */


body {
  background-color: $darkgrey;
  margin-top: 70px;
}

.movie-slider img {
  max-height: 200px;
}

.modal img {
  max-height: 420px;
}

.white {
  color: white;
}

.movie-slider {
  background-color: none;
  height: auto;
  padding: 15px;
  margin-bottom: 0px;
}

a {
  cursor: pointer;
  color: $red;
  text-decoration: none;
  &:hover {
  color: #333;
  text-decoration: none;
  }
}

.btn {
  border-radius: 4px;
  border: none;
}

.btn-danger {
  background: none;
  color: $red;
  border: 1px solid $red;
  &:hover {
  background: none;
  color: $red;
  border: 1px solid $red;
  }
}

.modal-btns {
  margin-top: 40px; 
}
/* *********** Navbar *********** */

#logo {
  height: 40px !important;
  width: auto;
}

.nav-links {
  color: white;
  top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  &:hover {
  color: white;
  text-decoration: none;
  }
  &:focus {
  color: white;
  text-decoration: none;
  }
}

.navbar-shadow {
    -webkit-box-shadow: 0 18px 6px -6px rgba(13,13,13,1);
    -moz-box-shadow: 0 18px 6px -6px rgba(13,13,13,0.5);
    box-shadow: 0 18px 6px -6px rgba(13,13,13,0.9);
}

.navbar .form-control {
  border-radius: 20px;
  height: 25px;
  width: 250px !important;
  font-size: 13px;
  &:focus {
  border: 1px solid $red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.form-control:focus {
  border: 1px solid $red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }

.navbar-nav a {
  margin-top: -5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  color: white;
}

#user-img {
  margin-right: 10px;
  border-radius: 100%;
  visibility: hidden;
}

#user-name {
  padding-right: 20px;
  margin-top: 15px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-links a:hover {
  color: white;
  text-decoration: none;
}

.navbar-default {
  top: 0;
  border-radius: 0;
  border: none;
  background-color: $darkgrey;
  height: 60px;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu {
  background-color: $darkgrey;
  border-radius: 0;
  margin-top: -1px;
}

.dropdown-menu li {
  text-align: right;
}

/* *********** Footer *********** */

footer {
  background-color: $darkgrey;
  height: 100px;
  padding: 25px 0;
}

/* *********** Index *********** */

.index-category-first {
  background: $darkgrey;
  color: #333;
  margin-top: -18px;
  width: auto;
  height: auto;
  padding: 18px 15px 10px 15px;
  z-index: 999;
  position: absolute;

}

.index-category-first h3 {
  line-height: 0;
  margin-top: 0;
}

.index-category {
  background: $darkgrey;
  color: #333;
  margin-top: -43px;
  width: auto;
  height: auto;
  padding: 18px 15px 10px 15px;
  z-index: 999;
  position: absolute;
}

.index-category h3 {
  line-height: 0;
  margin-top: 0;
}

.divider-top {
  border: none;
  border-bottom: 5px solid #333;
  margin-top: -25px;
  margin-bottom: 15px;
}

/*.divider-bottom {
  border: none;
  border-top: 5px solid #333;
  margin-top: -30px;
  margin-bottom: 4px;
}*/

.index-movie-title {
  color: white;
  font-weight: 1.5;
  -webkit-marquee: auto medium infinite scroll normal; 
  overflow-x: -webkit-marquee;
}

.modal-content {
  background-color: $darkgrey;
  border-radius: 0;
}

.index-wrapper {
  margin-top: 50px;
}

.fade
{
  opacity:0.5;
}

.fade:hover
{
  opacity:1;
}
