/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*
*= require_self
*/

$darkgrey: #181818;
$grey: #333;
$star: #f1c40f;
$red: #e21221;
$green: #09c33c;


/* *********** Main *********** */

nav .round-btn {
  border-radius: 20px !important;
  line-height: 1;
}

body {
  background-color: $darkgrey;
  margin-top: 70px;
}

.alert {
  margin-top: 10px;
}

.alert-success {
  border: none;
  border-radius: 0;
  background-color: $green;
  padding: 10px;
  color: white;
}

.alert-danger {
  border: none;
  border-radius: 0;
  background-color: $red;
  padding: 10px;
  color: white;
}

.alert button {
  margin-top: -3px;
}

.breadcrumb {
  margin-top: 15px;
  border-radius: 0;
  background: none;
  padding-left: 0;
}

.movie-slider img {
  max-height: 200px;
}

.modal img {
  max-height: 420px;
}

.white {
  color: white;
}

.movie-slider {
  background-color: none;
  height: auto;
  padding: 15px;
  margin-bottom: 0px;
}

a {
  cursor: pointer;
  color: $red;
  text-decoration: none;
  &:hover {
  color: $grey;
  text-decoration: none;
  }
}

.label-success {
  background-color: $green;
}

.btn {
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}

.btn-danger {
  background: none;
  color: $red;
  border: 1px solid $red;
  &:hover {
  background: none;
  color: $red;
  border: 1px solid $red;
  &:focus {
  background: none;
  color: $red;
  border: 1px solid $red;
  }
  }
}
.star {
  color: $star;
}
.modal-btns {
  margin-top: 40px; 
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.right {
  float: right;
}

/* *********** Navbar *********** */

#logo {
  height: 40px !important;
  width: auto;
}

.nav-links {
  color: white;
  top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  &:hover {
  color: white;
  text-decoration: none;
  }
  &:focus {
  color: white;
  text-decoration: none;
  }
}

.navbar-shadow {
    -webkit-box-shadow: 0 18px 6px -6px rgba(13,13,13,1);
    -moz-box-shadow: 0 18px 6px -6px rgba(13,13,13,0.5);
    box-shadow: 0 18px 6px -6px rgba(13,13,13,0.9);
}

.navbar .form-control {
  border-radius: 20px;
  height: 25px;
  width: 250px !important;
  font-size: 13px;
  &:focus {
  border: 1px solid $red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

.form-control:focus {
  border: 1px solid $red;
  box-shadow: none;
   /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
  }

.navbar-nav a {
  margin-top: -5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  color: white;
}

#user-img {
  margin-right: 10px;
  border-radius: 100%;
  visibility: hidden;
}

#user-name {
  padding-right: 20px;
  margin-top: 15px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-links a:hover {
  color: white;
  text-decoration: none;
}

.navbar-default {
  top: 0;
  border-radius: 0;
  border: none;
  background-color: $darkgrey;
  height: 60px;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu {
  background-color: $darkgrey;
  border-radius: 0;
}

.dropdown-menu li {
  text-align: right;
  padding: 5px 0;
}

/* *********** Footer *********** */

footer {
  background-color: $darkgrey;
  height: auto;
  padding: 20px 0 10px 0;
}

/* *********** Index *********** */

.index-category-first {
  background: $darkgrey;
  color: $grey;
  margin-top: -18px;
  width: auto;
  height: auto;
  padding: 18px 15px 10px 15px;
  z-index: 999;
  position: absolute;

}

.index-category-first h3 {
  line-height: 0;
  margin-top: 0;
}

.index-category {
  background: $darkgrey;
  color: $grey;
  margin-top: -43px;
  width: auto;
  height: auto;
  padding: 18px 15px 10px 15px;
  z-index: 999;
  position: absolute;
}

.index-category h3 {
  line-height: 0;
  margin-top: 0;
}

.divider-top {
  border: none;
  border-bottom: 5px solid $grey;
  margin-top: -25px;
  margin-bottom: 15px;
}

/*.divider-bottom {
  border: none;
  border-top: 5px solid $grey;
  margin-top: -30px;
  margin-bottom: 4px;
}*/

.index-movie-title {
  color: white;
  font-weight: 1.5;
  -webkit-marquee: auto medium infinite scroll normal; 
  overflow-x: -webkit-marquee;
}

.modal-content {
  background-color: $darkgrey;
  border-radius: 0;
}

.index-wrapper {
  margin-top: 50px;
}

.fade
{
  opacity: 0.7;
}

.fade:hover
{
  opacity: 1;
}

/* *********** Admin *********** */

.panel {
  border-radius: 0;
  background: $darkgrey;
  border-color: $grey;
  border-right: none;
  border-left: none;
  color: white;
  border-top: none;
  box-shadow: none;
}

.panel .panel-heading {
  background-color: $grey;
  color: white;
  border-radius: 0;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-bottom: 3px solid $grey;
  border-top: none;
}

/* *********** Signup / Login*********** */

#signup {
  background: rgba(13, 13, 13, 0.9);
  padding: 20px;
  margin: 45px 0;
}

#login {
  background: rgba(13, 13, 13, 0.9);
  padding: 20px;
  margin: 100px 0 130px 0;
}








