<footer class="footer">
  <div class="container">
    <p class="small">Copyright © Rotten Potatoes, Inc. All rights reserved. <strong>Copyright Policy | Privacy Policy | Terms of Service | Ad Choices | Mobile Apps</strong></p>
</footer>